* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  width: 90%;
  margin-right: auto;
  margin-left: auto;
}
.navbar .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar .container .search-btn {
  margin-right: 50px;
}
.navbar .container .navdiv {
  display: flex;
  padding: 16px;
  padding-bottom: 16px;
}
.navbar .container .navdiv .logo {
  margin-right: 40px;
  width: 160px;
  height: 48px;
}
.navbar .container .navdiv .nav-item {
  display: flex;
  align-items: center;
}
.navbar .container .navdiv .nav-item li {
  list-style-type: none;
  margin-right: 10px;
  font-family: helvetica, sans-serif;
  font-size: 16px;
  margin-right: 40px;
  font-weight: 520;
}
.navbar .container .navdiv .nav-item li a {
  text-decoration: none;
  color: #ffffff;
}

#hero {
  background-image: url("Assets/Hero_Section/bg_hero.png");
  background-repeat: no-repeat;
  background-size: cover;
}

@media (max-width: 1024px) {
  #hero {
    padding-bottom: 232px;
  }
  #hero .headings h1 {
    font-size: 54px;
  }
}
/* For tablets */
@media (max-width: 910px) {
  #hero {
    padding-bottom: 20px;
  }
  #hero .headings #searchBar {
    width: 308px;
  }
  #hero .headings .search-outer.active {
    width: 300px;
  }
  #hero .headings h1 {
    font-size: 40px;
  }
  #hero .headings p {
    font-size: 20px;
  }
  #hero .navbar .container {
    justify-content: center;
    width: 100%;
    flex-direction: column;
  }
  #hero .navbar .container .search-btn {
    margin-right: 0;
  }
  #hero .navbar .container .navdiv {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-right: 0;
  }
  #hero .navbar .container .navdiv .logo {
    margin-right: 0;
  }
  #hero .navbar .container .navdiv .nav-item {
    margin-top: 20px;
  }
}
/* For mobile phones */
@media (max-width: 480px) {
  #hero {
    padding-bottom: 40px;
  }
  #hero .navbar #drop .dropdown-box.open-box {
    right: 0;
  }
  #hero .headings button {
    font-size: 16px;
  }
  #hero .headings h1 {
    font-size: 20px;
  }
  #hero .headings p {
    font-size: 12px;
  }
  #hero .navbar .container {
    justify-content: center;
    width: 100%;
  }
  #hero .navbar .container .search-btn {
    margin-right: 0;
  }
  #hero .navbar .container .navdiv {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #hero .navbar .container .navdiv .logo {
    margin-right: 0;
  }
  #hero .navbar .container .navdiv .nav-item {
    margin-top: 20px;
  }
  #hero .navbar .container .navdiv .nav-item li {
    margin-right: 10px;
  }
}
footer {
  background-image: url(./Assets/footer/bg-footer.png);
  background-repeat: no-repeat;
  background-size: cover;
}
footer .outer-footer {
  display: flex;
  justify-content: space-between;
  padding: 136px 164px;
}
footer .outer-footer .socials {
  width: 304px;
}
footer .outer-footer .socials p {
  color: #ffffff;
  font-size: 14px;
  font-family: helvetica, sans-serif;
  margin-top: 20.5px;
  margin-bottom: 20.5px;
  font-weight: lighter;
}
footer .outer-footer .social-media-logo {
  display: flex;
}
footer .outer-footer .social-media-logo .linkedin {
  margin-left: 16px;
  margin-right: 16px;
}
footer .outer-footer .others {
  display: flex;
  justify-content: space-between;
  width: 470px;
  color: #ffffff;
  font-family: helvetica, sans-serif;
  font-weight: lighter;
}
footer .outer-footer .others .others-inner-box h4 {
  margin-bottom: 32px;
  font-size: 16px;
}
footer .outer-footer .others .others-inner-box p {
  margin-bottom: 16px;
  font-size: 14px;
}

@media (max-width: 910px) {
  footer .outer-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  footer .outer-footer .social-media-logo img {
    width: 32px;
  }
  footer .outer-footer .socials {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  footer .outer-footer .socials .logo-footer {
    width: 150px;
  }
  footer .outer-footer .socials p {
    font-size: 14px;
    text-align: center;
  }
  footer .outer-footer .others {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    width: auto;
  }
  footer .outer-footer .others .others-inner-box {
    margin-top: 10px;
    text-align: center;
  }
}
@media (max-width: 480px) {
  footer .outer-footer .outer {
    width: auto;
  }
  footer .outer-footer .socials {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  footer .outer-footer .socials .social-media-logo img {
    width: 30px;
  }
  footer .outer-footer .socials .logo-footer {
    width: 100px;
  }
  footer .outer-footer .socials p {
    font-size: 13px;
  }
  footer .outer-footer .others {
    margin-top: 20px;
    display: block;
  }
}
#drop a {
  display: flex;
  align-items: center;
  justify-content: center;
}

.headings {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 85vh;
  padding-bottom: 2%;
  font-family: helvetica, sans-serif;
  color: #ffffff;
  text-align: center;
}
.headings h1 {
  font-size: 60px;
}
.headings p {
  padding-top: 24px;
  margin-bottom: 48px;
  color: #e3e3e3;
  font-size: 22px;
  font-weight: lighter;
  line-height: 1.6;
}
.headings .button {
  border: 1px solid #ffe500;
  color: #ffffff;
  border-radius: 8px;
  padding: 16px 28px;
  text-decoration: none;
  font-size: 18px;
  font-weight: 400;
  margin: 4px 2px;
  cursor: pointer;
  display: flex;
  background: rgba(255, 255, 255, 0.071);
  -webkit-backdrop-filter: blur(1px);
  backdrop-filter: blur(1px);
  align-items: center;
  justify-content: center;
}
.headings .button img {
  margin-left: 20px;
}

.dropdown-box {
  position: absolute;
  background-color: #f9f9f9;
  border-radius: 8px;
  max-width: 0px;
  overflow: hidden;
  margin-top: 14px;
  z-index: 1;
}
.dropdown-box .dropdown-items {
  display: flex;
  margin: 24px 20px;
  padding: 12px;
}
.dropdown-box .dropdown-items img {
  width: 24px;
  height: 24px;
}
.dropdown-box .dropdown-items .dropdown-text {
  padding-left: 16px;
  font-family: helvetica, sans-serif;
}
.dropdown-box .dropdown-items .dropdown-text h5 {
  margin-bottom: 4px;
  font-size: 16px;
}
.dropdown-box .dropdown-items .dropdown-text p {
  color: #667085;
}

.dropdown-box.open-box {
  max-width: 412px;
  max-height: 320px;
}

@media (max-width: 910px) {
  .dropdown-box .dropdown-items {
    display: flex;
    margin: 16px 16px;
    padding: 8px;
  }
  .dropdown-box .dropdown-items img {
    width: 16px;
    height: 16px;
  }
  .dropdown-box .dropdown-items .dropdown-text {
    padding-left: 16px;
    font-family: helvetica, sans-serif;
  }
  .dropdown-box .dropdown-items .dropdown-text h5 {
    margin-bottom: 4px;
    font-size: 14px;
  }
  .dropdown-box .dropdown-items .dropdown-text p {
    font-size: 12px;
  }
  .dropdown-box.open-box {
    max-height: 520px;
  }
}
#campaigns {
  background-color: #f9f9ff;
}
#campaigns .box2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 96px;
}
#campaigns .box2 .container2 {
  text-align: center;
  font-family: helvetica, sans-serif;
}
#campaigns .box2 .container2 h3 {
  font-size: 32px;
  color: #24272e;
  margin-top: 96px;
}
#campaigns .box2 .container2 p {
  font-size: 20px;
  color: #667085;
  margin-top: 20px;
  line-height: 1.6;
}
#campaigns .box2 .card-box {
  width: 80%;
  display: flex;
  margin-top: 48px;
}
#campaigns .box2 .card-box .ownership {
  margin-right: 27.5px;
  margin-left: 27.5px;
}
#campaigns .box2 .card-box .campaigns-card {
  background-color: #fff;
  border-radius: 20px;
  padding-bottom: 24px;
  font-family: helvetica, sans-serif;
}
#campaigns .box2 .card-box .campaigns-card .card-img {
  width: 100%;
  height: 352px;
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: 20px 20px 0px 0px;
}
#campaigns .box2 .card-box .campaigns-card h3 {
  color: #24272e;
  font-size: 18px;
  padding-top: 24px;
  padding-left: 32px;
  margin-bottom: 11px;
  padding-right: 29px;
}
#campaigns .box2 .card-box .campaigns-card p {
  color: #7c7d82;
  font-size: 14px;
  padding-left: 32px;
  padding-right: 29px;
  line-height: 1.6;
}
#campaigns .box2 .card-box .campaigns-card .learn-more {
  display: flex;
  align-items: center;
  font-family: helvetica, sans-serif;
  margin-top: 29px;
}
#campaigns .box2 .card-box .campaigns-card .learn-more p {
  color: #1d6fa3;
  padding-right: 0;
  font-weight: bold;
}
#campaigns .box2 .card-box .campaigns-card .learn-more img {
  width: 24px;
  height: 24px;
}

@media (max-width: 910px) {
  #campaigns .box2 .card-box {
    display: block;
  }
  #campaigns .box2 .card-box .ownership {
    margin: 20px 0px 20px 0px;
  }
  #campaigns .box2 .card-box .campaigns-card .card-img {
    height: auto;
  }
  #campaigns .box2 .container2 h3 {
    font-size: 28px;
    margin-top: 60px;
  }
  #campaigns .box2 .container2 p {
    font-size: 18px;
  }
}
/* For mobile phones */
@media (max-width: 480px) {
  #campaigns .box2 .container2 h3 {
    font-size: 24px;
    margin-top: 60px;
  }
  #campaigns .box2 .container2 p {
    font-size: 16px;
  }
}
#latest-resources {
  background: #f9f9ff;
}
#latest-resources .box3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#latest-resources .box3 .container3 {
  text-align: center;
  font-family: helvetica, sans-serif;
}
#latest-resources .box3 .container3 h3 {
  font-size: 32px;
  color: #24272e;
  margin-top: 80px;
}
#latest-resources .box3 .container3 p {
  font-size: 20px;
  color: #7c7d82;
  margin-top: 32px;
  line-height: 1.6;
}
#latest-resources .box3 .view-btn-resource .btn-resource {
  background: none;
  border: 2px solid #1d6fa3;
  border-radius: 4px;
  padding: 10px;
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  margin: 32px 0px 80px 0px;
  letter-spacing: 0.5px;
  cursor: pointer;
}
#latest-resources .box3 .resource-card-box {
  width: 80%;
  display: flex;
  margin-top: 32px;
}
#latest-resources .box3 .resource-card-box .evidence {
  margin-right: 20px;
  margin-left: 20px;
}
#latest-resources .box3 .resource-card-box .resources-card {
  background-color: #fff;
  border-radius: 20px;
  padding-bottom: 24px;
  font-family: helvetica, sans-serif;
  padding-left: 32px;
  padding-top: 36px;
  padding-right: 29px;
}
#latest-resources .box3 .resource-card-box .resources-card .resource-icon {
  display: flex;
  align-items: center;
}
#latest-resources .box3 .resource-card-box .resources-card .resource-icon img {
  width: 66px;
  height: 66px;
  margin-right: 8px;
}
#latest-resources .box3 .resource-card-box .resources-card .resource-icon p {
  color: #66686d;
}
#latest-resources .box3 .resource-card-box .resources-card h3 {
  color: #24272e;
  font-size: 24px;
  padding-top: 24px;
  margin-bottom: 11px;
  padding-right: 29px;
}
#latest-resources .box3 .resource-card-box .resources-card p {
  color: #7c7d82;
  font-size: 16px;
  line-height: 1.6;
}
#latest-resources .box3 .resource-card-box .resources-card .learn-more {
  display: flex;
  align-items: center;
  font-family: helvetica, sans-serif;
  margin-top: 51px;
}
#latest-resources .box3 .resource-card-box .resources-card .learn-more p {
  color: #1d6fa3;
  padding-right: 0;
  font-weight: bold;
}
#latest-resources .box3 .resource-card-box .resources-card .learn-more img {
  width: 24px;
  height: 24px;
}

@media (max-width: 768px) {
  #latest-resources .resources-card {
    width: 45%;
  }
}
/* For mobile phones */
@media (max-width: 480px) {
  #latest-resources .resources-card {
    width: 100%;
  }
}
@media (max-width: 910px) {
  #latest-resources .resource-card-box {
    flex-direction: column;
    align-items: center;
  }
  #latest-resources .resources-card {
    margin-top: 30px;
  }
}
/* For mobile phones */
@media (max-width: 480px) {
  #latest-resources .resources-card {
    width: 100%;
  }
}
@media (max-width: 910px) {
  #latest-resources .box3 .container3 h3 {
    font-size: 24px;
    margin-top: 40px;
  }
  #latest-resources .box3 .container3 p {
    font-size: 16px;
  }
  #latest-resources .box3 .resource-card-box .resources-card {
    flex: 1 1 100%; /* Make cards take up 100% of the width */
  }
}
@media (max-width: 480px) {
  .box3 .container3 h3 {
    font-size: 20px;
    margin-top: 30px;
  }
  .box3 .container3 p {
    font-size: 14px;
  }
  .box3 .resource-card-box {
    width: 100%;
  }
  .box3 .resource-card-box .resources-card {
    padding: 20px;
  }
}
#news .news-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  line-height: 1.6;
}
#news .news-box .news-container {
  text-align: center;
  font-family: helvetica, sans-serif;
}
#news .news-box .news-container h3 {
  font-size: 32px;
  color: #24272e;
  margin-top: 80px;
}
#news .news-box .news-container p {
  font-size: 20px;
  color: #7c7d82;
  margin-top: 32px;
  line-height: 1.6;
}
#news .news-box .resources-card-outer {
  display: flex;
  width: 80%;
  flex-wrap: wrap;
  font-family: helvetica, sans-serif;
  justify-content: space-around;
}
#news .news-box .resources-card-outer .resources-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #f9f9ff;
  width: 357px;
  border-radius: 20px;
  padding: 20px 22px 23px 20px;
  margin-top: 29px;
}
#news .news-box .resources-card-outer .resources-card .title {
  margin-top: 24px;
  font-size: 24px;
}
#news .news-box .resources-card-outer .resources-card .paragraph {
  margin-top: 8px;
  margin-bottom: 17px;
  font-size: 16px;
  color: #505258;
}
#news .news-box .resources-card-outer .resources-card .learn-more {
  display: flex;
  align-items: center;
}
#news .news-box .resources-card-outer .resources-card .learn-more p {
  font-weight: bold;
  color: #1d6fa3;
}
#news .news-box .resources-card-outer .resources-card .news-details p {
  color: #505258;
  margin-top: 8px;
}
#news
  .news-box
  .resources-card-outer
  .resources-card
  .news-details
  p:nth-child(3) {
  margin-bottom: 8px;
}
#news .news-box .resources-card-outer .resources-card .resource-icon img {
  border-radius: 16px;
  width: 315px;
  height: 201px;
  -o-object-fit: cover;
  object-fit: cover;
}
#news .news-box .btn-resource {
  background: none;
  border: 2px solid #1d6fa3;
  border-radius: 4px;
  padding: 10px;
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  margin: 32px 0px 80px 0px;
  letter-spacing: 0.5px;
  cursor: pointer;
}

@media (max-width: 910px) {
  #news .news-box .resources-card-outer .resources-card .resource-icon img {
    width: 100%;
  }
}
@media (max-width: 910px) {
  #news .news-box .resources-card-outer .resources-card .resource-icon img {
    width: 100%;
  }
}
@media (max-width: 480px) {
  #news .news-box .news-container h3 {
    font-size: 20px;
  }
  #news .news-box .news-container p {
    font-size: 16px;
  }
}
#contact-us {
  background-color: #fff;
}
#contact-us .box4 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#contact-us .box4 .container4 {
  text-align: center;
  font-family: helvetica, sans-serif;
}
#contact-us .box4 .container4 h3 {
  font-size: 32px;
  color: #24272e;
  margin-top: 80px;
}
#contact-us .box4 .container4 p {
  font-size: 18px;
  color: #7c7d82;
  margin-top: 32px;
  line-height: 1.6;
}
#contact-us .box4 .contact-form-box {
  width: 40%;
}
#contact-us .box4 .contact-form-box form label {
  font-family: helvetica, sans-serif;
  display: block;
}
#contact-us .box4 .contact-form-box form .names {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
  margin-top: 32px;
}
#contact-us .box4 .contact-form-box form .names input[type="text"] {
  width: 284px;
  height: 44px;
  margin-top: 8px;
  border-radius: 8px;
  padding-left: 12px;
  border: 2px solid rgba(0, 0, 0, 0.134);
  outline: none;
}
#contact-us .box4 .contact-form-box form .email {
  margin-bottom: 16px;
}
#contact-us .box4 .contact-form-box form .email input[type="email"] {
  width: 100%;
  height: 44px;
  margin-top: 8px;
  border-radius: 8px;
  border-radius: 8px;
  border: 2px solid rgba(0, 0, 0, 0.134);
  outline: none;
  padding-left: 12px;
}
#contact-us .box4 .contact-form-box form .message textarea {
  width: 100%;
  height: 117px;
  margin-top: 8px;
  border-radius: 8px;
  border-radius: 8px;
  border: 2px solid rgba(0, 0, 0, 0.134);
  padding-top: 12px;
  padding-left: 12px;
  outline: none;
}
#contact-us .submit-btn .btn-submit {
  background: none;
  border: 2px solid #1d6fa3;
  border-radius: 4px;
  padding: 10px 16px;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  margin: 32px 0px 80px 0px;
  cursor: pointer;
}

/* For tablets */
@media (max-width: 910px) {
  #contact-us .box4 .container4 h3 {
    font-size: 24px;
    margin-top: 60px;
  }
  #contact-us .box4 .container4 p {
    font-size: 18px;
  }
  #contact-us .box4 .contact-form-box form .names {
    display: block;
  }
  #contact-us .box4 .contact-form-box form .names input[type="text"] {
    width: 100%;
  }
}
/* For mobile phones */
@media (max-width: 480px) {
  #contact-us .box4 .container4 h3 {
    font-size: 18px;
    margin-top: 40px;
  }
  #contact-us .box4 .container4 p {
    font-size: 16px;
  }
}
#logos {
  background-color: #f9f9ff;
}
#logos .outer-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 80px 141.5px 80px 141.5px;
}
#logos .outer-box .arrow-logos img {
  width: 24px;
  height: 24px;
}

#footer-bottom .footer-bottom-outer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 32px 0px 32px 100px;
}
#footer-bottom .footer-bottom-outer .footer-bottom-container {
  width: 80%;
  display: flex;
  justify-content: space-between;
}
#footer-bottom .footer-bottom-outer .footer-bottom-container span {
  color: #7c7d82;
  font-family: helvetica, sans-serif;
  font-weight: lighter;
  font-size: 14px;
}
#footer-bottom .footer-bottom-outer .scroll-btn {
  margin-left: 92px;
}

@media (max-width: 910px) {
  #footer-bottom .footer-bottom-outer {
    padding: 32px 0px 32px 0px;
  }
}
@media (max-width: 480px) {
  #footer-bottom .footer-bottom-outer .footer-bottom-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #footer-bottom .footer-bottom-outer .footer-bottom-container img {
    width: 150px;
  }
  #footer-bottom .footer-bottom-outer .scroll-btn {
    margin: 0;
  }
}
#about-us {
  display: flex;
  justify-content: center;
}
#about-us .outer-about-us {
  width: 80%;
  display: flex;
  justify-content: space-between;
  margin-top: 96px;
  margin-bottom: 96px;
}
#about-us .outer-about-us .description {
  width: 30%;
  font-family: helvetica, sans-serif;
  margin-right: 64px;
}
#about-us .outer-about-us .description h3 {
  font-size: 32px;
}
#about-us .outer-about-us .description p {
  font-size: 18px;
  color: #505258;
  margin-top: 20px;
  line-height: 1.6;
}
#about-us .outer-about-us .description .see-more {
  display: flex;
  align-items: center;
  font-family: helvetica, sans-serif;
  margin-top: 48px;
}
#about-us .outer-about-us .description .see-more p {
  color: #1d6fa3;
  margin-top: 0;
  font-weight: bold;
}
#about-us .outer-about-us .description .see-more img {
  width: 24px;
  height: 24px;
}
#about-us .outer-about-us .teams {
  width: 56.5%;
  display: flex;
  font-family: helvetica, sans-serif;
}
#about-us .outer-about-us .teams .dev {
  overflow: hidden;
}
#about-us .outer-about-us .teams .devin {
  transition: transform 0.5s;
  -o-object-fit: contain;
  object-fit: contain;
  width: 328px;
  height: 415px;
}
#about-us .outer-about-us .teams .devin:hover {
  transform: scale(1.1);
  border-radius: 16px;
}
#about-us .outer-about-us .teams .teams-left {
  margin-right: 32px;
}
#about-us .outer-about-us .teams .teams-right {
  margin-top: 140px;
}
#about-us .outer-about-us .teams .bottom {
  margin-top: 40px;
}
#about-us .outer-about-us .teams h3 {
  margin-top: 24px;
  font-size: 24px;
}

@media (max-width: 910px) {
  #about-us .outer-about-us {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #about-us .outer-about-us .teams {
    display: block;
    width: auto;
  }
  #about-us .outer-about-us .teams .teams-left {
    margin-right: 0;
  }
  #about-us .outer-about-us .teams h3 {
    font-size: 20px;
  }
  #about-us .outer-about-us .description {
    text-align: center;
    margin-right: 0;
    width: auto;
  }
  #about-us .outer-about-us .description .see-more {
    justify-content: center;
  }
  #about-us .outer-about-us .description h3 {
    font-size: 20px;
  }
  #about-us .outer-about-us .description p {
    font-size: 18px;
  }
}
@media (max-width: 480px) {
  #about-us .outer-about-us {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #about-us .outer-about-us .teams {
    display: block;
  }
  #about-us .outer-about-us .teams h3 {
    font-size: 18px;
  }
  #about-us .outer-about-us .description {
    text-align: center;
  }
  #about-us .outer-about-us .description .see-more {
    justify-content: center;
  }
  #about-us .outer-about-us .description .see-more h3 {
    font-size: 20px;
  }
  #about-us .outer-about-us .description .see-more p {
    font-size: 16px;
  }
}
#hero .overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: -1;
  opacity: 0;
  transition: all ease-in-out 100ms;
}
#hero .overlay.active {
  z-index: 0;
  opacity: 1;
}
#hero .headings .search-outer.active {
  transform: translateY(-98%);
  transition: all ease-in-out 300ms;
}
#hero .headings .search-outer {
  transform: translateY(-500%);
  display: flex;
  align-items: center;
  width: 616px;
  background-color: white;
  padding: 16px 40px 16px 16px;
  border-radius: 16px;
  z-index: 1;
}
#hero .headings .search-outer .close-btn a img {
  position: absolute;
  top: -28px;
  right: -20px;
}
#hero .headings .search-outer img {
  margin-right: 4px;
  width: 24px;
  height: 24px;
}
#hero .headings .search-outer .search-input-box {
  width: 100%;
}
#hero .headings .search-outer .search-input-box form input[type="search"] {
  border: none;
  margin: 0px;
  padding: 0px;
  color: #62696f;
  padding: 4px;
  width: 100%;
}
#hero
  .headings
  .search-outer
  .search-input-box
  form
  input[type="search"]:focus {
  outline: 1px solid #ffffff;
}

@media (max-width: 910px) {
  #logos .outer-box {
    flex-wrap: wrap;
    flex-direction: column;
    padding: 0;
  }
  #logos .outer-box .inner-logo {
    margin-top: 20px;
    margin-bottom: 20px;
  }
}
@media (max-width: 480px) {
  #logos .outer-box {
    flex-wrap: wrap;
    flex-direction: column;
  }
  #logos .outer-box .inner-logo {
    margin-top: 20px;
    margin-bottom: 20px;
  }
} /*# sourceMappingURL=style.css.map */
